*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.tm-main{
    font-size: 3vmax;
    font-weight: 200;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
    background: #0188DF;
    margin-top: 5%;
}


/*header ends here and sections start*/


/* room */


.tm-rooms:focus {
    outline: none;
}
.tm-rooms a:focus {
    outline: none;
}

.tm-rooms{
    display: block;
    background: #353535;
    max-width: 33.33%;
    width: 33.33%;
}


.tm-rooms img{
    max-width: 100%;
    width: 100%;
}



.tm-rooms p{
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
    padding: 5%;

  
}

.tm-rooms a{
    text-decoration: none;
}

.tm-rooms a p:hover{
    color: #0188DF;


}

.s{
    padding-bottom: 1%;
}

.flex{
    display: flex;
}




/* footer */

.tm-footer{
     background: #354046;
    display: block;
    padding: 20px;
    position: relative;

}

.tm-us{
    display: inline-table;
    max-width: 30%;
    width: 30%;
    margin: 2% 0 2% 4%
}

.tm-address{
    display: inline-table;
    max-width: 30%;
    width: 30%;
     margin: 2% 0 2% 25%
}

.tm-us .bold, .tm-address .bold{
    color: #0188DF;
    font-size: 1.5vw;
    font-weight: 700;
    padding-bottom: 4%;
}

.tm-us p, .tm-address p{
    color: #fff;
    font-size: 1.2vw;
}

.tm-media{
   display: inline;
    margin: 0 0 0 59%;
 

}
.tm-media img{
  margin: 0.5%;
    width: 3%;
    height: auto;
    
}

.tm-up
{
    position: absolute;
    top: 20%;
    right: 3%;
    width: 3%;
    height: auto;
    
}

.tm-review:focus{
    outline: none;
}

.tm-revcon:focus{
    outline: none;
}



/* rooms page */

.tm-roomsection{
    display: flex;
}

.tm-room1{

    background: #354046;
    
display: inline-block;
    margin: 0px;
    position: relative;
}

.tm-room1 p{
    font-size: 2.5vw;
    color: #fff;
    text-align: center;
    padding: 5%;
    z-index: 2;
    position: relative;
}


.tm-roomimage{
    max-width: 100%;
    width: 100%; 
	
}

.tm-trans{
    display: inline-block;
    position: absolute;
    top: 78%; /*78*/
   color: #fff;
     max-width: 100%;
    width: 100%;
    height: 0%; /*0*/
     background: rgba(53, 53, 53,0.7);
    opacity: 0; /*0*/
}

.tm-trans p{
    font-size: 1.8vw;

}
.tm-trans div{
    display: inline-table;
    width: 40%;
    max-width: 40%;
    margin: 2%;
}

.tm-trans div .bold{
    color:#0188DF;

}


.tm-room1:hover .tm-trans{
 
    top:30%;
   
    transition: top 1s, opacity 1s, height 1s;
       opacity: 1;
     height: 50%;
    z-index: 1;
}

